/* ==========================
   General Styling
========================== */

/* Apply border-box to every HTML element on the page. */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* entire page setting */
body{
    background:#050505;
    color:white;
    font-family:'Poppins',sans-serif;
    
    /* for mbl responsive view*/
    overflow-x:hidden;
}

/* ==========================
Navigation
========================== */
/* Apply these styles to the <nav> element. */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    /* 20px → top and bottom padding. 8% → left and right padding */

    position:sticky;
    top:0;
    z-index:1000;           /* Keeps it above other elements */
    background:#050505;
    border-bottom:1px solid #59d8ff;    
}

/* Class selector: logo from HTML */
.logo{
    font-size:34px;
    font-weight:700;
}

/* Class selector: gradient-letter from HTML */
.gradient-letter{
    background:linear-gradient(90deg,#59d8ff,#a855f7);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

/* CSS selector: Any <ul> inside a <nav> */
nav ul{
    display:flex;
    list-style:none;
    gap:40px;
    align-items:center;
}

/* CSS selector: Any <a> inside a <nav> */
nav a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

nav a:hover{
    color:#73d9ff;
}

/* ==========================
Hero Section
========================== */

.hero{
    width:80%;
    margin:auto;
    min-height:80vh; 
    /* 80% of the browser window height */
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:80px;
    padding-top:20px;
    /* move hero section a bit downwards */
}

.hero-text{          /* LEFT SIDE OF HERO */
       flex:1;
    /* equal share of the available space btw hero-text and hero-visual */
}

.hero-visual{       /* RIGHT SIDE OF HERO */
    flex:1; 
    /* equal share of the available space btw .hero-text and .hero-visual */
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:25px;
    transform:translateY(-60px);
}

.hero h1{
    font-size:56px;
    line-height:1.15;
    font-weight:800;
    margin-bottom:30px;
}

.hero p{
    max-width:700px;
    color:#bfbfbf;
    font-size:20px;
    line-height:1.8;
    margin-bottom:45px;
}

.hero-buttons{
    display:flex;
    gap:20px;  
}

.hero-button,                   /* explore programs button */
.secondary-button{              /* contact us button */
    text-align:center;
    text-decoration:none;
    color:white;
    padding:18px;
    border-radius:50px;
    transition:.3s;
}

.hero-button{
    width:240px;
    background:linear-gradient(90deg,#59d8ff,#a855f7);
    font-weight:600;
}

.secondary-button{
    width:180px;
    border:1px solid #555;
}

.hero-button:hover{
    transform:translateY(-4px);
    box-shadow:0 0 25px rgba(117,90,255,.5);
}

.secondary-button:hover{
    border-color:#59d8ff;
    color:#59d8ff;
}

/* Right-side hero visual cards */
.floating-card{
    padding:25px;
    border-radius:20px;
    background:#111;
    border:1px solid #333;
    font-size:22px;
    text-align:center;
    transition:.3s;
}

.floating-card:hover{
    transform:translateY(-8px);
    border-color:#59d8ff;
}

/* ==========================
Why MavWise Section
========================== */

.why-mavwise{
    width:80%;
    margin:auto;
    padding:100px 0;
    /* 100px → top and bottom (Y-axis) */
    /* 0px   → left and right (X-axis) */
    
    text-align:center;
}


.why-mavwise h2{
    font-size:48px;
    font-weight:800;
    margin-bottom:30px;
}


.why-mavwise p{
    max-width:900px;
    margin:20px auto;
    color:#bfbfbf;
    font-size:20px;
    line-height:1.8;
}
/* ==========================
Skill Domains Section
========================== */

.domains{
    width:80%;
    margin:auto;
    /* padding:100px 0; */  /* Creates unnecessary space above it */
    padding:0 0 100px 0;    /* top right bottom left: only bottom*/
    text-align:center;
}

.domains h2{            /* Develop Skills For The Future */
    font-size:48px;
    font-weight:800;
    margin-bottom:60px;
}

.domain-container{      /* controls the arrangement of the 3 cards */
    display:flex;       /* changes the direction to horizontal */
    gap:30px;
}

.domain-card{
    flex:1;             /* makes equal width btw the cards */
    background:#111;
    border:1px solid #333;
    border-radius:20px;
    padding:40px 25px;
    transition:.3s;
}

.domain-card h3{
    font-size:28px;
    margin-bottom:20px;
}

.domain-card p{
    color:#bfbfbf;
    line-height:1.7;
    font-size:18px;
}

.domain-card:hover{
    transform:translateY(-20px);
    border-color:#59d8ff;
}

/* ==========================
Footer / Contact Section
========================== */

.footer{
    width:80%;
    margin:auto;
    padding:80px 0 40px;
    text-align:center;
    border-top:1px solid #333;
}

.footer h2{
    font-size:42px;
    font-weight:800;
    margin-bottom:30px;
}

.footer p{
    color:#bfbfbf;
    font-size:18px;
    line-height:1.8;
}


.footer .copyright{
    margin-top:40px;
    font-size:14px;
    color:#777;
}
/* Smooth scrolling between sections */

html{
    scroll-behavior:smooth;
    scroll-padding-top:100px;
}

/* Theme Toggle Button */
#theme-toggle{          /* toggle button settings */
    width:32px;
    height:32px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:none;
    border:1px solid #555;
    color:white;
    font-size:18px;
    border-radius:50%;
    cursor:pointer;
}

/* Light Theme */

.light-mode{
    background:white;
    color:#111;
}

.light-mode nav{
    background:white;
}

.light-mode nav a{
    color:#111;
}

.light-mode nav a:hover{
    color:#73d9ff;
}

.light-mode .domain-card,
.light-mode .floating-card{
    background:#f5f5f5;
    border-color:#ddd;
}

.light-mode .secondary-button{
    color:#111;
    border-color:#555;    
}

.light-mode .secondary-button:hover{
    border-color:#59d8ff;
    color:#59d8ff;
}

.light-mode p{
    color:#555;
}

/* WhatsApp Floating Button */

.whatsapp-button{
    position:fixed;
    bottom:30px;
    right:30px;
    width:60px;
    height:60px;

    background:#25D366;
    color:white;
    
    border-radius:50%;
    display:flex;
    
    align-items:center;
    justify-content:center;
    
    font-size:30px;
    text-decoration:none;
    z-index:2000;
    transition:.3s;
    animation:pulse 1.5s infinite;
}

.whatsapp-button:hover{
    transform:translateY(-5px);
}

@keyframes pulse{
    0%{
        box-shadow:0 0 0 0 rgba(37,211,102,0.7);
    }
    70%{
        box-shadow:0 0 0 15px rgba(37,211,102,0);
    }
    100%{
        box-shadow:0 0 0 0 rgba(37,211,102,0);
    }
}

/* ==========================
   Mobile Responsive Design
========================== */

/* When the screen is small, stack everything vertically. */

@media(max-width:768px){

    nav{
        padding:20px 5%;
    }

    nav ul{
        gap:15px;
    }

    nav a{
        font-size:14px;
    }

    .logo{
        font-size:26px;
    }
    
    #theme-toggle{
        width:30px;
        height:30px;
        font-size:14px;
    }
    
    /* Hero section */
    .hero{

        flex-direction:column;
        width:90%;
        gap:40px;
        text-align:center;

    }

    .hero h1{
        font-size:40px;
    }

    .hero p{
        font-size:16px;
    }

    .hero-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .hero-visual{
        width:100%;
        transform:none;
    }

    /* Domain cards */
    .domain-container{
        flex-direction:column;
        gap:20px;
    }

    .domain-card{
        width:100%;
    }
}